/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 62.5%;


}



/******************************************
/* LAYOUT
/*******************************************/
/* Header Styling */

header nav {
  margin: 1%;
}

nav, nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul {
  flex-basis: 90%;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  font-weight: 550;
}

/* First Section Styling */

.bgImgSec {
  background-image: url(../images/salon-main-img.jpg);
  height: 1410px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  position: relative;
}

.heading {
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
}

.heading h1 {
  font-size: 6rem;
  width: 50%;
  font-weight: 100;
  padding: 2% 0;
}

.heading p {
  line-height: 1rem;
  font-size: 1rem;
  padding: 2% 0;
}

.heading button {
  background-color: black;
  color: white;
  padding: 1.5%;
  border: 1px solid black;
  font-size: 0.8rem;
}

.coupon {
  position: absolute;
  left: 20%;
  bottom: 15%;
  border: 1px solid black;
  width: 10%;
  background-color: black;
  color: white;
  padding: 1% 0;
}

.coupon p:first-child {
  border-left: 4px solid white;
  padding: 5% 0;
}
.coupon span {
  margin : 5%;
  padding: 2% 5%;
  font-size: 0.8rem;
}

.coupon p + p {
  padding: 5% 0 5% 5%;
  line-height: 2rem;
  font-size: 0.9rem;
}

.coupon p strong {
  font-size: 1.5rem;
  font-weight: bold;
}

.coupon button {
  margin: 5%;
  padding: 5%;
  color: black;
  background-color: white;
  border: 1px solid white;
}

.timings {
  position: absolute;
  transform-origin:top right;
  right:0;
  top:30%;
  transform: rotate(90deg) translateX(50%);
  color: white;
  padding: 2%;
  font-size: 1rem;
  font-weight: bold;
}

.section1 ul {
  margin: 0 15%;
  display: flex;
  justify-content: space-around;

}

.section1 ul li {
  text-align: center;
  justify-content: space-around;
  margin: 5%;
}

.section1 ul li img {
  padding: 2% 0;
}

.section1 ul li h4 {
  font-size: 1.5rem;
  padding: 5% 0;
  font-weight: bold;
}

.section1 ul li p {
  line-height: 1.5rem;
  font-size: 0.8rem;
}



/* Second Section Styling*/

.section2 {
  display: flex;
  justify-content: space-around;
  padding: 2% 20%;
  background-color: #F3F4F6;
}

.section2 section {
  margin: 0 auto;
}

.momentum {
  padding-right: 5%;
}
.momentum h2 {
  font-size: 3rem;
  padding-bottom: 5%;
}

.momentum p {
  line-height: 1.5rem;
  font-size: 0.8rem;
  padding-bottom: 5%;
}

.momentum button {
  background-color: black;
  color: white;
  padding: 3% 5%;
  font-size: 00.8rem;
  border: 1px solid black;
}

.momentumImg img {
  margin: 0 5%;
}


/* Third Section Styling */

.section3 {
  margin: 2% 10%;
}

.section3 ul {
  display: flex;
  justify-content: space-around;
}

.section3 ul li {
  position: relative;
}
.container {
  position: absolute;
  /* top: 1px; */
  left: 25%;
  bottom: -0.1px;
  width: 50%;

}

.section3 div {
  border: 1px solid black;
  background-color: black;

  padding: 1% 5%;
  color: white;
}

.container * {
  padding: 5% 10%;
  text-align: center;
}

.container span {
  padding-left: 10%;
}

/* Fourth Section Styling  */
.section4 {
  /* margin: 2% 15%; */
  margin: 0 auto;
  background-image: url(../images/picFive.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  width: 100%;
}

.section4 section {
  padding: 5% 0;
  width: 20%;
  margin: 0 30%;
}

.section4 section p {
  font-size: 1rem;
}

.section4 section p + p {
  font-size: 2rem;
  line-height: 3rem;
  padding: 5% 0;
}

.section4 section p + p strong {
  font-size: 2.5rem;
  font-weight: 800;
}

.section4 section button {
  padding: 5% 10%;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 1rem;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
